@model FourthTask.Mvc.Models.CustomerVM

@{
    ViewBag.Title = "Customer Details";
}

<div id="app" class="row">
    <div class="row">
        <div class="col-sm-8" style="padding-left: 0">
            <div class="panel panel-default">
                <div class=" panel-heading">Customer Information</div>
                <div class="panel-body">
                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <div class="row">
                            <img src="~/Content/Images/user-icon.png" class="col-md-10 col-sm-10 col-xs-10 thumbnail img-responsive center-block" />
                        </div>
                        <div class="row">
                            <h4 class="text-primary text-left">@Model.ContactName</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-sm-5 text-muted">Company Name</div>
                            <div class="col-sm-7">@Model.CompanyName</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Contact Title</div>
                            <div class="col-sm-7">@Model.ContactTitle</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Address</div>
                            <div class="col-sm-7">@Model.Address</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">City</div>
                            <div class="col-sm-7">@Model.City</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Region</div>
                            <div class="col-sm-7">@Model.Region</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Postal Code</div>
                            <div class="col-sm-7">@Model.PostalCode</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Country</div>
                            <div class="col-sm-7">@Model.Country</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Phone</div>
                            <div class="col-sm-7">@Model.Phone</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-muted">Fax</div>
                            <div class="col-sm-7">@Model.Fax</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Order Date</th>
                        <th>Required Date</th>
                        <th>Shipped Date</th>
                        <th>Ship Name</th>
                        <th>Ship Address</th>
                        <th>Ship City</th>
                        <th>Ship Country</th>
                        <th>Ship Region</th>
                        <th>Ship Postal Code</th>
                        <th>Products</th>
                        <th>Freight</th>
                        <th>Total</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.OrderDate</td>
                            <td>@order.RequiredDate</td>
                            <td>@order.ShippedDate</td>
                            <td>@order.ShipName</td>
                            <td>@order.ShipAddress</td>
                            <td>@order.ShipCity</td>
                            <td>@order.ShipCountry}</td>
                            <td>@order.ShipRegion</td>
                            <td>@order.ShipPostalCode</td>
                            <td>@order.ProductsCount</td>
                            <td>@order.Freight</td>
                            <td>@order.TotalPrice</td>
                            <td>
                                @if (order.ContainsDiscontinuedProduct)
                                {
                                    <div class="text-warning">This order contains discontinued products!</div>
                                }
                                @if (order.ContainsProductsInStockLessThanOrderedProducts)
                                {
                                    <div class="text-danger">Not enough units in stock!</div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
